/*background*/

body {
    background: #D8D8D8;
}

h1 {
    text-align: center;
    font-family: Lobster, sans-serif;
    font-size: 40px;
    margin-bottom: 0;
}

.top {
    position: absolute;
    background-color: #B80000;
    margin-bottom: 0;
    width: 100%;
    border: inset 3px white;
    padding-bottom: 20px;
}

.center {
    background-color: white;
    height: 1000px;
    width: 500px;
    margin-left: 450px;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: absolute;
}

.center-P {
    text-align: center;
    padding-top: 0;
}

.big-image {
    width: 100%;
    height: 80vh;
    background: url(../img/5.jpg);
    background-size: 100% auto;
    background-position: center;
    border-bottom: solid #B80000 20px;
}

.left {
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 300px;
    clear: left;
    border: inset 5px white;
    background-color: white;
    position: absolute;
}

.left-links {
    text-decoration: none;
}

.left-links li:hover {
    display: block;
}

div h2 {
    text-align: left;
    font-family: Lobster, sans-serif;
    padding-bottom: 10px;
}

.map {
    width: 450px;
    height: 250px;
}

/*Navigatie Tab*/
.tab-background {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    background-color: #B80000;
}
#search_text{
    background-color: yellow;
}
li {
    float: left;
}

#glyphicon-menu-position {
    color: white;
    position: absolute;
    top: 1em;
    right: 1em;
}

.active {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-radius: 10px;
    background: rgb(167, 43, 43);
}

/*.footer {
    background-color: #B80000;
    border: outset 3px white;
    width: 100%;
   position:fixed;
    bottom: 100%;
    right: 0;
}*/

.footer-P {
    text-align: center;
    font-family: Satisfy, verdana, sans-serif;
    font-size: 23px;
    color: #FFFFFF;
}

.menu {
    height: 20em;
    width: 20em;
    position: absolute;
    z-index: 2;
    top: 49px;
    right: 0;
    border: inset 3px white;
    background-color:#B80000;
    display: none;
}
.menu-shadow {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
}
.menu-shadow-Register{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
}
/* Form */
#form-h2 {
    margin-left: 3.5em;
    text-align: center;
    position: absolute;
}

form {
    border-top: inset 3px white;
    margin-top: 5.2em;
    position: absolute;
    padding-top: 1.5em;
}
.login-fields{
    margin-left: 3em;
    width: 15em;
    border-radius: 5px;
}


.table{
    border: solid 5px red;
}

#glyphicon-name {
    margin-top: 1.3em;
    margin-left: 1.4em;
    height: 1.8em;
    width: 2em;
    position: absolute;
    color: red;
    display: none;
}

#glyphicon-password {
    margin-top: 4.3em;
    left: 1.4em;
    height: 1.8em;
    width: 2em;
    position: absolute;
    color: red;
    display: none;
}

.btn-Login {
    margin-left: 3em;
    border-radius: 5px;

}
#Registration-form-h2{
    position: absolute;
    margin-top: -1.5em;
}
#Registration-form{
    height: 25em;
    width: 25em;
    position: absolute;
    z-index: 2;
    border: inset 3px white;
    background-color:#B80000;
    padding-left: 6em;
    padding-top: 4.5em;
    top:7em;
    left:37em;
    display: none;
}

.Registration {
    margin-left: 3em;
    cursor: pointer;
}


#glyphicon-menu {
    cursor: pointer;
}

#glyphicon-menu:hover {
    color: #6f72ff;
}

#glyphicon-login-menu {
    position: absolute;
    top: 1em;
    right: 3em;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#glyphicon-login-menu:hover {
    color: #6f72ff;
}

#load_screen {
    background: #B80000;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loading {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    color: #FFF;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #333;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loading:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #333;
    border-radius: 50%;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loading:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #333;
    border-radius: 50%;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
